<nav class="site-nav">
  <div class="site-title">
    <a href="/">{{siteTitle}}</a>
  </div>
  <a href="#" class="hamburger" id="nav-toggle"><span></span></a>
  <div class="links" id="nav-links">
    <a href="/" class="underline">HOME</a>
    <a href="/bedroom">Bedrooms</a>
    <a href="/livingroom">Living Rooms</a>
    <a href="/about">About</a>
  </div>
</nav>
